@media (max-width: 1300px) {
    .nav-content img {
        width: 140px;
    }
}

@media (max-width: 1000px) {
    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .bg-gray {
        background-color: #1A699E;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        min-height: 80px;
        height: 200px !important;
        color: white;
        z-index: 2;
    }
    .nav-content {
        margin-top: 0;
    }
}